body{
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
  color:#007bff;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Số dòng bạn muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em; /* Điều chỉnh dựa trên chiều cao dòng */
}

.card{
  cursor: pointer;
  transition: 0.25s;
}


.card:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(0.98);
}

.chat-toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 18px;
  cursor: pointer;
  z-index: 1000;
}

.chat-container {
  position: fixed;
  bottom: 90px;
  right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
  background-color: white;
}
